#zeiger img {
    background-image: url("zeiger.png");
    background-color: rgb(0, 0, 0);
    height: 159px; 
    width: 317px;
    border-radius: 50%;
    border-radius: 20px; 
    position: relative;
    transform-origin: center; /* Drehpunkt ist die Mitte */
    transition: transform 0,05s linear; /* bewegung wird flüssig */
    border-radius: 10px;
}

#Pfeil {
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pfeilbeschreibung {
    line-height: 14px;
    text-align: center;
    padding: 14px;
    gap: 25px; 
}

#zeigerüberschrift {
    text-align: center;
}

#Zeiger {
    display: flex;
    flex-direction: column;
}

#strich {
    display: flex;
    flex-direction: row;
    justify-content: center;
}